<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pp8.1-FrandyJuniorSantana</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>

  <div class="top-bar">
    <div class="top-bar-left">
      <h1>Examen Final M8-UF5</h1>
      <p>Frandy Junior Santana</p>
      </div>
</div>

<div class="top-bar-right">
  <ul class="menu">


  </ul>
</div>

  <

<div class="row small-up-2 large-up-2">
<div class="column">



<div class="column">
  <div class="small button-group">
  <a class="button">Small</a>
  <a class="button">Button</a>
  <a class="button">Group</a>
  <a class="button">Group</a>

</div>
</div>

</div>
</div>

<div class="row imagen">
<img src="img/peus.jpg"/>
<a class="secondary button">secondary button</a>
<a class="primay button">primay button</a>
</div>




<div class="row ">
  <div class="column">
  <h2>Welcome</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  </p>
</div>
</div>

<div class="row small-up-2 large-up-3">
  <div class="column">
    <h3>1/3 Column</h3>
    <img src="img/img_buida.png"/>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <a href="#">Read More>> </a>
    </div>

    <div class="column">
      <h3>1/3 Column</h3>
      <img src="img/img_buida.png"/>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <a href="#">Read More>> </a>
      </div>

      <div class="column">
        <h3>1/3 Column</h3>
        <img src="img/img_buida.png"/>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <a href="#">Read More>> </a>
        </div>

</div>

<footer>
<div class="row small-up-2 large-up-4">

<div class="column ">
  <h3>About Company</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <a href="#">Terms of use</a>
  <a href="#">Privacy Policy</a>
  <a href="#">FAQ</a>
  <a href="#">Sitemap</a>
  </div>

<div class="column">
  <h3>Recent Blog Posts</h3>
  <a href="#">Lorem ipsum dolor sit amet,</a>
  <p>2 hours ago</p>

  <a href="#">Lorem ipsum dolor sit amet,</a>
  <p>5 hours ago</p>

  <a href="#">Lorem ipsum dolor sit amet,</a>
  <p>19 hours ago</p>

  <a href="#">VIEW ALL POSTS</a>
  </div>

<div class="column">
  <h3>Sample Footer Content</h3>
  <p>Nombre</p>
  <input type="text" name="name" value="">
  <p>Edad</p>
  <input type="number" name="name" value="">
  <input type="button" name="name" value="Enviar">
  <input type="reset" name="name" value="borrar">

      </div>

  <div class="column">
  <h3>Get in Touch</h3>
  </div>

</div>

</footer>

</body>

</html>
